<%= form_for([@message_config, @message_template], html:{class: 'form-horizontal'}) do |f| %>
  <% if @message_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_template.errors.count, "error") %> prohibited this message_template from being saved:</h2>

      <ul>
      <% @message_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
    <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :template, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_area :template, :rows => 8, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit '提交', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
