<h1>Listing message_datasources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adapter</th>
      <th>Params</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_datasources.each do |message_datasource| %>
      <tr>
        <td><%= message_datasource.name %></td>
        <td><%= message_datasource.adapter %></td>
        <td><%= message_datasource.params %></td>
        <td><%= link_to 'Show', message_datasource %></td>
        <td><%= link_to 'Edit', edit_message_datasource_path(message_datasource) %></td>
        <td><%= link_to 'Destroy', message_datasource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message datasource', new_message_datasource_path %>
