<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @message_datasource.name %>
</p>

<p>
  <strong>Adapter:</strong>
  <%= @message_datasource.adapter %>
</p>

<p>
  <strong>Params:</strong>
  <%= @message_datasource.params %>
</p>

<%= link_to 'Edit', edit_message_datasource_path(@message_datasource) %> |
<%= link_to 'Back', message_datasources_path %>
