<%= form_for([@message_config, @template_strategy], html:{class: 'form-horizontal'}) do |f| %>
  <% if @template_strategy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template_strategy.errors.count, "error") %> prohibited this template_strategy from being saved:</h2>

      <ul>
      <% @template_strategy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :strategy_type, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
    <%= f.select :strategy_type, [['静态', 'static'], ['动态', 'dynamic']] ,class: 'form-control'%>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :language, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
    <%= f.select :language, ['json', 'groovy', 'config'], class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :script, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
    <%= f.text_area :script, class: 'form-control', rows: 8%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit '提交', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
