<p id="notice"><%= notice %></p>

<div class="row box">
    <h2 class="title"><%= @message_config.name %></h2>
    <div class="col-xs-2">类型</div>
    <div class="col-xs-10"><%= @template_strategy.strategy_type %></div>
    <div class="col-xs-2">脚本类型</div>
    <div class="col-xs-10"><%= @template_strategy.language %></div>
    <div class="col-xs-2">脚本内容</div>
    <div class="col-xs-10"><%= @template_strategy.script %></div>
</div>

<%= link_to 'Edit', edit_message_config_template_strategy_path(@message_config, @template_strategy) %> |
<%= link_to 'Back', message_config_template_strategies_path %>
