<div class="row box">
    <h2 class="title">消息配置管理</h2>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Group</th>
            <th>Biz type</th>
            <th>Name</th>
            <th>Desc</th>
            <th colspan="4">操作</th>
        </tr>
        </thead>

        <tbody>
        <% @message_configs.each do |message_config| %>
        <tr>
            <td><%= link_to message_config.id, message_config %></td>
            <td><%= message_config.group %></td>
            <td><%= message_config.biz_type %></td>
            <td><%= message_config.name %></td>
            <td><%= message_config.desc %></td>
            <td>
                <%= link_to '编辑', edit_message_config_path(message_config), class: 'btn btn-default btn-xs', data: {toggle: 'modal', target: '#globalModal'}%>
                <%= link_to '删除', message_config_path(message_config, format: 'json'), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'btn btn-danger btn-xs' %>
                <%= link_to '创建新模板', new_message_config_message_template_path(message_config), class: 'btn btn-default btn-xs', data: {toggle: 'modal', target: '#globalModal'} %>
                <%= link_to '创建新策略', new_message_config_template_strategy_path(message_config), class: 'btn btn-default btn-xs', data: {toggle: 'modal', target: '#globalModal'} %>
            </td>
        </tr>
        <% end %>
        </tbody>
    </table>

    <%= link_to '新建消息配置', new_message_config_url, class: 'btn btn-primary btn-sm', data: {toggle: 'modal', target: '#globalModal'} %>
</div>

